.HomePageWrapper{
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2438013375536940927/D370DBF7BFC83ED36F783F08A598FFF3E71A1D61/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  height: 100vh;
  

}

.FormWrapper{
  background-color: #1c1b1b7e;
  padding: 20px;
  border-radius: 30px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
  
}


.inputGroup{
  display: flex;
  flex-direction: column;

}

.mainLabel{
  margin-bottom: 20px;
  margin-top: 0px;
}

.homepagelogo{
  height: 80px;
  margin-bottom: 30px;
}

.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3 ease-in-out;

}

.btn:hover {
  animation: rubberBand 0.8s ease;
}


@keyframes rubberBand {
  0% { transform: scaleX(1); }
  30% { transform: scaleX(1.25); }
  40% { transform: scaleX(0.75); }
  50% { transform: scaleX(1.15); }
  65% { transform: scaleX(0.95); }
  75% { transform: scaleX(1.05); }
  100% { transform: scaleX(1); }
}

.joinbtn,
.leaveBtn {
    background: #4aed88;
    width: 100px;
    margin-left: auto;
}

.joinbtn:hover,
.leavebtn:hover {
    background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover {
    color: #368654;
    border-color: #368654;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #dcc5c5;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}